@use "./variables" as *;

.nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav__nav-name {
    font-weight: bold;
    font-size: 1.5rem;
    color: $text-color-primary;
    display: flex;
    gap: 0.5rem;

    &--text {
      font-family: $font-secondary;
    }

    &--icon {
      height: 100%;
      color: $highlight-primary;
    }
  }

  .nav__nav-links {
    border: 2px solid green;
    display: none;

    .nav__nav-links-item {
      color: $text-color-secondary;
    }
  }

  .nav__nav-menu-icon {
    padding-right: 1rem;
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }
  }
}
