@use "./variables" as *;

.nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav__nav-name {
    font-weight: bold;
    font-size: 1.5rem;
    color: $text-color-primary;
    display: flex;
    gap: 0.5rem;

    &--text {
      font-family: $font-secondary;
    }

    &--icon {
      height: 100%;
      color: $highlight-primary;
    }
  }

  .nav__nav-links {
    width: 60%;
    max-width: 500px;
    display: none;
    justify-content: space-between;
    align-items: center;

    .nav__nav-links-item {
      color: $text-color-secondary;

      &--button {
        @include button-style;
        color: $text-color-primary;
        padding: 1rem;
      }
    }
  }

  .nav__nav-menu-icon {
    padding-right: 1rem;
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 2rem 4rem;

    .nav__nav-links {
      display: flex;
    }
  }

  .nav__nav-menu-icon {
    display: none;
  }
}
