@use "./variables" as *;

.projects {
  @include flex-box-container;
  margin: 0 $body-margin;
  gap: 5.8rem;

  .projects__project-heading {
    @include text-highlight;
    @include section-headings;
  }

  .projects__project-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 4rem;
    justify-items: center;

    .projects__project-grid-card {
      max-width: 440px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      .projects__project-grid-card-img-background {
        background-color: $highlight-secondary;
        width: 100%;
        height: 18rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        .projects__project-grid-card-img {
          border-radius: 0.5rem 0.5rem 0 0;
          object-fit: cover;
          width: 80%;
          height: 70%;
        }
      }

      .projects__project-grid-card-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .projects__project-grid-card-content-headings {
          .projects__project-grid-card-content-skill {
            color: $highlight-primary;
            font-weight: 600;
            font-size: 1rem;
          }

          .projects__project-grid-card-content-heading {
            font-weight: 600;
            font-size: 2rem;
          }
        }

        .projects__project-grid-card-content-text {
          @include text-styles;
        }

        .projects__project-grid-card-content-links {
          width: 55%;
          display: flex;
          justify-content: space-between;
          font-weight: 600;

          .projects__project-grid-card-content-links-item-icon {
            padding-left: 0.5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .projects {
    margin: 0 $body-margin * 2;
  }
}

@media screen and (min-width: 1024px) {
  .projects {
    .projects__project-grid {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  }
}
