@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  color: $text-color-primary;
}

html {
  scroll-behavior: smooth;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

// .intro,
// .skills,
// .projects,
// .about__about-container {
//   max-width: 1400px;
//   margin: 0 auto !important;
//   float: none !important;
// }
