@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Inter:wght@400;600;700&display=swap");

$background-primary: white;
$background-secondary: #f7fafa;
$highlight-primary: #bae8e8;
$text-color-primary: #272643;
$text-color-secondary: #8c9cb1;
$font-primary: inter;
$font-secondary: DM Sans;

@mixin text-highlight {
  background-color: $highlight-primary;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 55%,
    $highlight-primary 50%,
    $highlight-primary 100%
  );
}

@mixin flex-box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
}
