@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Inter:wght@400;600;700&display=swap");

$background-primary: white;
$background-secondary: #f7fafa;
$highlight-primary: #bae8e8;
$text-color-primary: #272643;
$text-color-secondary: #8c9cb1;
$font-primary: inter;
$font-secondary: DM Sans;
