@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Inter:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  color: #272643;
}

html {
  scroll-behavior: smooth;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav .nav__nav-name {
  font-weight: bold;
  font-size: 1.5rem;
  color: #272643;
  display: flex;
  gap: 0.5rem;
}
.nav .nav__nav-name--text {
  font-family: DM Sans;
}
.nav .nav__nav-name--icon {
  height: 100%;
  color: #bae8e8;
}
.nav .nav__nav-links {
  width: 60%;
  max-width: 500px;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.nav .nav__nav-links--mobile {
  width: 100%;
  position: absolute;
  top: 4rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}
.nav .nav__nav-links .nav__nav-links-item {
  color: #8c9cb1;
}
.nav .nav__nav-links .nav__nav-links-item:hover {
  color: #272643;
}
.nav .nav__nav-links .nav__nav-links-item--button {
  padding: 1.3rem;
  border: 2px solid #272643;
  border-radius: 7px;
  box-shadow: 2px 2px #272643;
  background-color: #bae8e8;
  font-weight: 700;
  color: #272643;
  padding: 1rem;
}
.nav .nav__nav-links .nav__nav-links-item--button:hover {
  position: relative;
  right: -2px;
  bottom: -2px;
  box-shadow: unset;
}
.nav .nav__nav-menu-icon {
  padding-right: 1rem;
  font-size: 1.5rem;
}
.nav .nav__nav-menu-icon:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 2rem 4rem;
  }
  .nav .nav__nav-links {
    display: flex;
  }

  .nav__nav-menu-icon {
    display: none;
  }
}
.intro {
  background-color: #f7fafa;
  margin: 0 2rem;
  padding: 5rem 2rem;
  height: 42rem;
}
.intro--mobile-open {
  transition: transform 1s ease-in-out;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transform: translate3d(0, 200px, 0);
  -webkit-transform: translate3d(0, 200px, 0);
}
.intro--mobile-close {
  transition: transform 1s ease-in-out;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.intro .intro__intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  gap: 3rem;
  padding: 0;
  height: 100%;
}
.intro .intro__intro-container .intro__intro-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.intro .intro__intro-container .intro__intro-text .intro__intro-text-subheading {
  color: #8c9cb1;
  font-weight: 500;
  font-size: 1.25rem;
}
.intro .intro__intro-container .intro__intro-text .intro__intro-text-heading {
  font-weight: 600;
  font-size: 3.5rem;
}
.intro .intro__intro-container .intro__intro-text .intro__intro-text-heading--highlight {
  background-color: #bae8e8;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 55%, #bae8e8 50%, #bae8e8 100%);
}
.intro .intro__intro-work-link {
  padding: 1.3rem;
  border: 2px solid #272643;
  border-radius: 7px;
  box-shadow: 2px 2px #272643;
  background-color: #bae8e8;
  font-weight: 700;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}
.intro .intro__intro-work-link:hover {
  position: relative;
  right: -2px;
  bottom: -2px;
  box-shadow: unset;
}
.intro .intro__intro-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .intro {
    margin: 0 4rem;
  }
  .intro .intro__intro-container {
    justify-content: center;
    align-items: flex-start;
    max-width: 65%;
  }
}
@media screen and (min-width: 1024px) {
  .intro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .intro .intro__intro-image {
    -o-object-fit: scale-down;
       object-fit: scale-down;
    display: unset;
    width: 30%;
    max-width: 380px;
  }
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  margin: 0 2rem;
  gap: 5.8rem;
}
.skills .skills__skills-heading {
  background-color: #bae8e8;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 55%, #bae8e8 50%, #bae8e8 100%);
  font-weight: 600;
  font-size: 2rem;
}
.skills .skills__skills-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2rem;
}
.skills .skills__skills-grid .skills__skills-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.3rem;
}
.skills .skills__skills-grid .skills__skills-grid-item .skills__skills-grid-item-text {
  color: #8c9cb1;
}

@media screen and (min-width: 768px) {
  .skills {
    margin: 0 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .skills .skills__skills-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  margin: 0 2rem;
  gap: 5.8rem;
}
.projects .projects__project-heading {
  background-color: #bae8e8;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 55%, #bae8e8 50%, #bae8e8 100%);
  font-weight: 600;
  font-size: 2rem;
}
.projects .projects__project-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 4rem;
  justify-items: center;
}
.projects .projects__project-grid .projects__project-grid-card {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-img-background {
  background-color: #e3f6f5;
  width: 100%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-img-background .projects__project-grid-card-img {
  border-radius: 0.5rem 0.5rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  height: 70%;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-content .projects__project-grid-card-content-headings .projects__project-grid-card-content-skill {
  color: #bae8e8;
  font-weight: 600;
  font-size: 1rem;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-content .projects__project-grid-card-content-headings .projects__project-grid-card-content-heading {
  font-weight: 600;
  font-size: 2rem;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-content .projects__project-grid-card-content-text {
  color: #8c9cb1;
  font-weight: 400;
  line-height: 2rem;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-content .projects__project-grid-card-content-links {
  width: 55%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-content .projects__project-grid-card-content-links .projects__project-grid-card-content-links-item-icon {
  padding-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .projects {
    margin: 0 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .projects .projects__project-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
.about {
  background-color: #e3f6f5;
}
.about .about__about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  gap: 5.8rem;
  padding: 5rem 2rem;
}
.about .about__about-container .about__about-heading {
  font-size: 3rem;
  font-weight: 600;
}
.about .about__about-container .about__about-img {
  max-width: 70%;
}
.about .about__about-container .about__about-text {
  color: #8c9cb1;
  font-weight: 400;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  .about {
    padding: 5rem 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .about .about__about-img {
    display: none;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  background-color: #272643;
  gap: 4rem;
}
.footer .footer__socials-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .footer__socials-container .footer_socials_container-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bae8e8;
  border-radius: 50%;
  padding: 1rem;
}
.footer .footer__socials-container .footer_socials_container-icons img {
  height: 2rem;
  width: 2rem;
}
.footer .footer__email {
  color: white;
  font-size: 1.125rem;
}