@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Inter:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  color: #272643;
}

html {
  scroll-behavior: smooth;
}

main {
  padding: 0 2rem;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav__nav-name {
  font-weight: bold;
  font-size: 1.5rem;
  color: #272643;
}
.nav .nav__nav-name--text {
  font-family: DM Sans;
}
.nav .nav__nav-name--icon {
  color: #bae8e8;
}
.nav .nav__nav-links {
  border: 2px solid green;
  display: none;
}
.nav .nav__nav-links .nav__nav-links-item {
  color: #8c9cb1;
}
.nav .nav__nav-menu-icon {
  padding-right: 1rem;
  font-size: 1.5rem;
}
.nav .nav__nav-menu-icon:hover {
  cursor: pointer;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  background-color: #f7fafa;
  padding: 5rem 2rem;
  display: flex;
  height: 42rem;
}
.intro .intro__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.intro .intro__text .intro__text-subheading {
  color: #8c9cb1;
  font-weight: 500;
  font-size: 1.25rem;
}
.intro .intro__text .intro__text-heading {
  font-weight: 600;
  font-size: 3.5rem;
}
.intro .intro__text .intro__text-heading--highlight {
  background-color: #bae8e8;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 55%, #bae8e8 50%, #bae8e8 100%);
}
.intro .intro__work-link {
  padding: 1.7rem 2rem;
  border: 2px solid #272643;
  border-radius: 7px;
  box-shadow: 2px 2px #272643;
  background-color: #bae8e8;
  font-weight: 700;
  display: flex;
  gap: 1rem;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  gap: 5.8rem;
}
.skills .skills__skills-heading {
  background-color: #bae8e8;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 55%, #bae8e8 50%, #bae8e8 100%);
  font-weight: 600;
  font-size: 2rem;
}
.skills .skills__skills-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2rem;
}
.skills .skills__skills-grid .skills__skills-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.3rem;
}
.skills .skills__skills-grid .skills__skills-grid-item .skills__skills-grid-item-text {
  color: #8c9cb1;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  gap: 5.8rem;
}
.projects .projects__project-heading {
  background-color: #bae8e8;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 55%, #bae8e8 50%, #bae8e8 100%);
  font-weight: 600;
  font-size: 2rem;
}
.projects .projects__project-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 4rem;
  justify-items: center;
}
.projects .projects__project-grid .projects__project-grid-card {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-img-background {
  background-color: #e3f6f5;
  width: 100%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-img-background .projects__project-grid-card-img {
  border-radius: 0.5rem 0.5rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  height: 70%;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-content .projects__project-grid-card-content-headings .projects__project-grid-card-content-skill {
  color: #bae8e8;
  font-weight: 600;
  font-size: 1rem;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-content .projects__project-grid-card-content-headings .projects__project-grid-card-content-heading {
  font-weight: 600;
  font-size: 2rem;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-content .projects__project-grid-card-content-text {
  color: #8c9cb1;
  font-weight: 400;
  line-height: 2rem;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-content .projects__project-grid-card-content-links {
  width: 55%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.projects .projects__project-grid .projects__project-grid-card .projects__project-grid-card-content .projects__project-grid-card-content-links .projects__project-grid-card-content-links-item-icon {
  padding-left: 0.5rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  gap: 5.8rem;
}
.about-me .about-me__heading {
  background-color: #bae8e8;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 55%, #bae8e8 50%, #bae8e8 100%);
  font-size: 3rem;
  font-weight: 600;
}
.about-me .about-me__img {
  max-width: 70%;
}
.about-me .about-me__text {
  color: #8c9cb1;
  font-weight: 400;
  line-height: 2rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  background-color: #272643;
  gap: 4rem;
}
.footer .footer__socials-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .footer__socials-container .footer_socials_container-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bae8e8;
  border-radius: 50%;
  padding: 1rem;
}
.footer .footer__socials-container .footer_socials_container-icons img {
  height: 2rem;
  width: 2rem;
}
.footer .footer__email {
  color: white;
  font-size: 1.125rem;
}