@use "./variables" as *;

.about {
  background-color: $highlight-secondary;

  .about__about-container {
    @include flex-box-container;
    gap: 5.8rem;
    padding: 5rem 2rem;

    .about__about-heading {
      font-size: 3rem;
      font-weight: 600;
    }

    .about__about-img {
      max-width: 70%;
    }

    .about__about-text {
      @include text-styles;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding: 5rem 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    .about__about-img {
      display: none;
    }
  }
}
